@import "bourbon"
@import "_normalize.sass"
@import "_vars.sass"
@import "_fonts.sass"

@import "libs/sprite.sass"
@import "libs/owl.carousel.sass"


*::-webkit-input-placeholder
	color: #424242
	opacity: 1


*:-moz-placeholder
	color: #424242
	opacity: 1

*::-moz-placeholder
	color: #424242
	opacity: 1

*:-ms-input-placeholder
	color: #424242
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #424242

body input:required:valid,
body textarea:required:valid
	color: #424242

body
	font-size: 17px
	min-width: 320px
	position: relative
	line-height: 1.3
	font-family: "HelveticaNeueLight", $helvetica
	font-weight: normal
	overflow-x: hidden
	color: #000
	position: relative


/* icon */
.icon
	display: inline-block
/*.icon_project
	+sprite($s-project)*/
/* end icon */

.header
	position: fixed
	z-index: 2

.container
	+clearfix

.work
	width: 33.333333%
	float: left
.work_double
	width: 66.6666666%
	.work__wrapper
		padding-bottom: 50%

.work__wrapper
	width: 100%
	padding-bottom: 100%
	position: relative
	overflow: hidden

.work__content
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-color: #f00
	border: 1px solid #fff
	box-sizing: border-box

//ALWAYS END
@import "_media.sass"
