extends ./template/template.jade

block title
	title Главная страница

block content
	.page
		.header
			.logo MYLogo
			.menu &#215;
		.container
			.work
				.work__wrapper
					.work__content(style="background-image: url('http://placeboobs.com/600/600')")
			.work
				.work__wrapper
					.work__content(style="background-image: url('http://placeboobs.com/600/600')")
			.work
				.work__wrapper
					.work__content(style="background-image: url('http://placeboobs.com/600/600')")
			.work
				.work__wrapper
					.work__content(style="background-image: url('http://placeboobs.com/600/600')")
			.work.work_double
				.work__wrapper
					.work__content(style="background-image: url('http://placeboobs.com/600/600')")
			.work
				.work__wrapper
					.work__content(style="background-image: url('http://placeboobs.com/600/600')")
			.work
				.work__wrapper
					.work__content(style="background-image: url('http://placeboobs.com/600/600')")
			.work.work_your
				.work__wrapper
					.work__content
